<!DOCTYPE html>
<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/hljs.css">
    {% if extra_css %}<link rel="stylesheet" href="/{{ extra_css }}">{% endif %}
</head>
<body>
    <div class="content">
        {{ content }}
    </div>
    <script src="/js/code-lines.js"></script>
</body>
